<!DOCTYPE html>
<html>
  <head>
    <title>Spatial Snacks</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/menu" %>
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <%= yield %>
        </div>
        <div class="col-lg-4">
          <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-block">
              <h4 class="card-title">Today's Special</h4>
              <p class="card-text">A quick-cook Chicken Risotto to impress.</p>
              <a href="pages/about" class="btn btn-primary">Get Cooking</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
